<div class="well hoverwell thumbnail">
    <h2 [class.even] = "event?.id % 2 === 0">{{event.name}}</h2>
    <div>Date: {{event.date}}</div>
    <div [ngSwitch]="event?.time">
        Time: {{event.time}}
        <span *ngSwitchCase = "'8am'">(Early Start)</span>
        <span *ngSwitchCase = "'10am'">(Late Start)</span>
        <span *ngSwitchDefault>(Normal Start)</span>
    </div>
    <div>Price: ${{event.price}}</div>
    <div *ngIf ="event?.location">
        <span>Location: {{event.location.address}}</span>
        <span class="pad-left">{{event.location.city}}, {{event.location.country}}.</span>
    </div>
    <div *ngIf ="event?.onlineURL">
        <span>Online URL: {{event.onlineURL}}</span>
    </div>
    <!-- <button class="btn btn-primary" (click)= "handleClickMe()">
        Click Me
    </button> -->
</div>