<div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >ngEvents</a>
      </div>
  
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a [routerLink] = "['/events']" routerLinkActive ="active" [routerLinkActiveOptions]="{exact:true}">All Events</a>
          </li>
          <li><a [routerLink] = "['/events/new']" routerLinkActive ="active">Create Event</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
              Events
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li >
                <a href="">Angular Connect</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="navbar-header navbar-right">
          <ul class="nav navbar-nav">
            <li>
              <a *ngIf="!auth.isAuthenticated()" [routerLink] = "['user/login']">Login</a>
              <a *ngIf="auth.isAuthenticated()" [routerLink] = "['user/profile']">Welcome {{auth.currentUser.firstName}}</a>
            </li>
          </ul>
        </div>
        <form id="searchForm" (ngSubmit)="searchSession(searchTerm)" class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" [(ngModel)]="searchTerm" name="searchTerm" class="form-control" placeholder="Search Sessions" required='true'>
          </div>
          <!-- Adds a modal-trigger attribute to make modal pop up. we set the attr fn in directive -->
          <button class="btn btn-default" type="submit" modal-trigger = "searchedSessions" [disabled] = "!searchTerm && !searchTerm.trim()">
            Search
          </button>
        </form>
      </div>
    </div>
</div>

<!-- Add a leading slash (/) to start from the root for the link  -->

<simple-modal closeOnBodyClick = "true" elementId = "searchedSessions" title="Matching Sessions">
  <div class="list-group" *ngIf="foundSessions.length">
    <a class="list-group-item" *ngFor="let session of foundSessions" [routerLink]="['/events', session.eventId]">{{session.name}}</a>
  </div>
  <div *ngIf="!foundSessions.length" style="background-color: #485563; padding: 1em;">
    <p>No Session Found</p>
  </div>
</simple-modal>